<% content_for :user_menu do %>
    <%= render 'users/user_menu' %>
<% end %>
<div class="box" >
<h1><%= t("my_orders") %></h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th><%= t("order_number") %></th>
                <th><%= t("date") %></th>
                <th><%= t("total") %></th>
                <th><%= t("status") %></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td># <%= order.id %></td>
                <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
                <td><%= order.total_price %></td>
                <td><span class="label label-info"><%= t("in_processing") %></span>
                </td>
                <td><%= link_to t("look"), order, class: "btn btn-primary btn-sm" %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

</div>
