<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Information</h4>
                <ul>
                    <li>
                        <%= link_to "About us", page_path("o-nas") %>
                    </li>
                    <li>
                        <%= link_to "Payment and delivery", page_path("oplata-i-dostavka") %>
                    </li>
                    <li>
                        <%= link_to "Blog", articles_path %>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <h4>Support</h4>
                <ul>
                    <li>
                        <%= link_to "Contact us", new_contact_path %>
                    </li>
                    <li>
                        <%= link_to "Goods Return", page_path("oplata-i-dostavka") %>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <h4>Phone number</h4>
                <ul>
                    <li><a href="#"> +32 487 89 77 72</a></li>
                </ul>
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6">
                <h4>We are in social networks</h4>
                <div class="social">
                    <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter external" data-animate-hover="shake" ><i class="fa fa-twitter"></i></a>
                    <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                </div>

            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
