<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand home" href="/">
                <img src="/logo.jpg">
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
        </div>
        <!--/.navbar-header -->
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/"><%= t('home') %></a>
                </li>
                <li>
                    <%= link_to t("catalog"), products_path %>
                </li>
                <li>
                    <%= link_to t("payment_and_delivery"), page_path("oplata-i-dostavka") %>
                </li>
                <!-- <li>
                    <%= link_to "О брендах", attachments_path %>
                </li> -->
                <li>
                    <%= link_to t("contact"), new_contact_path %>
                </li>
                <li>
                    <%= link_to t("about_us"), page_path("o-nas") %>
                </li>
            </ul>
            <%= search_form_for Product.ransack(params[:q]), html: {class: "navbar-form navbar-right", role: t("search") } do |f| %>
                <div class="input-group">
                  <%= f.search_field :title_cont, placeholder: t("search"), class: "form-control" %>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-no-margin"><i class="fa fa-search"></i></button>
                  </span>
                </div>
            <% end %>
        </div>
        <!--/.nav-collapse -->


        <!--/.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
